@charset "utf-8";
/* CSS Document */
/*Các chỉ số được lựa chọn cho phù hợp*/
#background{
	width: 100vw; /* background full màn hình */
	height: 100vh;
	background-size: 100% 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
}
#corner{
	width: 17vw;
	height: 28vh;
	background-size: 100% 100%;
	background-image: url("../res/image/corner/leaf_nav_kodi_platform@2x.png");
	position: absolute;
	left: 83vw;
	top: 72vh; 
	z-index: 1;
}

#kodi{
	width: 9vw;
	height: 30vh;
	background-size: 100% 100%;
	background-image: url("../res/image/Kodi/tips_bear-ipad@2x.png");
	position: absolute;
	left: 89vw;
	top: 70vh;
	z-index: 2;
}

#home{
	width: 8vw;
	height: 13vh;
	background-size: 100% 100%;
	background-image: url("../res/image/home-button/leaf_nav_home_btn@2x.png");
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#animal0{
	width: 17vw;
	height: 32vh;
	background-size: 100% 100%;
	position: absolute;
	left: 13vw;
	top: 31vh;
	z-index: 1;
	opacity: 0;
}

#animal1{
	width: 17vw;
	height: 32vh;
	background-size: 100% 100%;
	position: absolute;
	left: 40vw;
	top: 31vh;
	z-index: 1;
	opacity: 0;
}

#animal2{
	width: 17vw;
	height: 32vh;
	background-size: 100% 100%;
	position: absolute;
	left: 67vw;
	top: 31vh;
	z-index: 1;
	opacity: 0;
}

#letter0{
	width: 4.5vw;
	height: 13.5vh;
	background-size: 100% 100%;
	position: absolute;
	left: 4.2vw;
	top: 14vh;
	z-index: 2;
}

#letter1{
	width: 4.5vw;
	height: 13.5vh;
	background-size: 100% 100%;
	position: absolute;
	left: 4.2vw;
	top: 14vh;
	z-index: 2;
}

#letter2{
	width: 4.5vw;
	height: 13.5vh;
	background-size: 100% 100%;
	position: absolute;
	left: 4.2vw;
	top: 14vh;
	z-index: 2;
}

#congratulation{
	width: 82vw;
	height: 72vh;
	background-size: 100% 100%;
	background-image: url("../res/image/victory/bg-victory.png");
	position: absolute;
	left: -100vw;
	top: -100vh;
	z-index: 3;
}

#restart{
	width: 20vw;
	height: 10vh;
	background-size: 100% 100%;
	background-image: url("../res/image/victory/restart.png");
	position: absolute;
	left: 30vw;
	top: 62vh;
	z-index: 4;
}

#bghome {
	width: 100vw; 
	height: 100vh;
	background-size: 100% 100%;
	background-image: url("../res/image/background/1.png");
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#playbutton {
	width: 25vw;
	height: 30vh;
	background-size: 100% 100%;
	background-image: url("../res/image/book_play_btn-ipad@2x.png");
	position: absolute;
	left: 37vw;
	top: 32vh;
	z-index: 2;
}